.popup {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

.popup-contants {
    width: 50.5%;
    height: 25.5%;
    background-color:  rgb(211, 201, 183);
    position: absolute;
    border: 8px solid  rgb(211, 201, 183);
    box-shadow: 0 0 0 5px rgb(164, 116, 73);
    z-index: 1000;
}